<html>
  <head>
    <title>Sallings Home Management Thing - Admin</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css">
  </head>

  <body>
    <h1>Administration</h1>

    <h2>Current Tasks:</h2>

    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Assignee</th>
          <th>Repeat Type</th>
          <th>Period</th>
          <th>Value</th>
          <th>Next</th>
        </tr>
      </thead>

      <tbody>
        {{ range .results }}
        <tr class="disabled-{{.Disabled}}">
          <td><a href="/admin/tasks/toggle?id={{.Key.Encode}}">{{.Key}}</a></td>
          <td>{{.Name}}</td>
          <td>{{.Assignee}}</td>
          <td>{{.RType}}</td>
          <td>{{.Period}}</td>
          <td>{{.Value}}</td>
          <td>{{.Next}}</td>
        </tr>
        {{ end }}
      </tbody>

    </table>

    <form method="POST" action="/admin/tasks/new">
      Name: <input type="text" name="name" /><br/>
      Assignee:
      <select name="assignee">
        <option value="">-Anyone-</option>
        {{ range .assignees }}
        <option value="{{.Name}}">{{.Name}} &lt;{{.Email}}&gt;</option>
        {{ end }}
      </select>
      <br/>
      Repeat: <select name="rtype"><option value="Normal">Normal</option></select>
      <input type="text" name="period" /><br/>
      Value: <input type="text" name="value" /><br/>
      Description:<br/>
      <textarea name="description"></textarea>
      <input type="submit" />
    </form>

  </body>
</html>
