<html lang="en" ng-app="sallingshome">
  <head>
    <title>Sallings Home Management Thing - Admin</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css"
          type="text/css">
    <link rel="stylesheet" href="/static/stylesheets/print.css"
          type="text/css" media="print" />

  </head>

  <body ng-controller="AdminCtrl">
    <h1 class="screen-only">Administration</h1>

    <div ng-view></div>

    <ul id="adminu" class="screen-only">
      <li><a href="/admin/tasks/">Task List</a></li>
      <li><a href="/admin/users/">User List</a></li>
      <li><a href="/admin/topay/">To Pay</a></li>
    </ul>

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/lib/lodash.min.js"></script>
    <script src="/static/js/sallings.js"></script>
  </body>
</html>
