<html>
  <head>
    <title>Sallings Home Management Thing - Admin - Users</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css">
  </head>

  <body>
    <h1>Administration</h1>

    <h2>Users:</h2>

    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        {{ range .results }}
        <tr class="disabled-{{.Disabled}}">
          <td><a href="/admin/tasks/toggle?id={{.Key.Encode}}">{{.Key}}</a></td>
          <td>{{.Name}}</td>
          <td>{{.Email}}</td>
        </tr>
        {{ end }}
      </tbody>

    </table>

    <form method="POST" action="/admin/users/new">
      Name: <input type="text" name="name" /><br/>
      Email: <input type="text" name="email" /><br/>
      <input type="submit" />
    </form>

  </body>
</html>
