<html>
  <head>
    <title>Sallings Home Management Thing</title>
    <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css">
  </head>

  <body>
    <p>Welcome back, {{.user}}.</p>

    <h2>Your Tasks:</h2>
    <form method="POST" action="/complete">
      <ul>
        {{ range .tasks }}
        <li>
          <label>
            <input type="checkbox" name="task"
                   value="{{.Key.Encode}}" /> {{.Name}}
          </label>
          <p>{{.Description}}</p>
        </li>
        {{ end }}
      </ul>
      <input type="submit" value="Mark Complete" />
    </form>
  </body>
</html>
