<h2>Due Tasks:</h2>

<div ng-repeat="t in available" class="taskitem">
  <h3 class='{{t.next | agecss}}'>{{t.name}}
    <span class="lastRun print-only">(last run {{t.prev | relDate}})</span>
  </h3>

  <div class="screen-only">
    <h4>Assignment</h4>
    <p>Assigned to
      <span ng-show="t.assignee">{{t.assignee}},</span>
      <em ng-hide="t.assignee">anybody,</em>
      repeat type {{t.repeatType}}
    </p>

    <h4>Repeat</h4>
    <p>
      Repeats every {{t.period}}.
      Last run:  <span title="{{t.prev}}">{{t.prev | relDate}}</span>.
      Next up:  <span title="{{t.next}}">{{t.next | relDate}}</span>
    </p>
  </div>

  <h4 class="screen-only">Description</h4>

  <p>{{t.description}}</p>

  <ul class="screen-only">
    <li><a ng-click="makeAvailable(t)">Make Available</a></li>
    <li><a ng-click="makeUnavailable(t)">Make Unavailable</a></li>
    <li ng-hide="t.marked">
      <select name="worker" ng-model="t.finished_by">
        <option value="">-Anyone-</option>
        <option ng-repeat="u in users" value="{{u.email}}">{{u.name}} &lt;{{u.email}}&gt;</option>
      </select>
      <a ng-click="markFor(t)">Mark Done</a>
    </li>
    <li><a ng-click="deleteTask(t)">DELETE</a></li>
  </ul>
  <hr />
</div>
