<h2>Current Tasks:</h2>

<div ng-repeat="t in tasks" class="taskitem disabled-{{t.disable}}">
  <h3>
    <input type="checkbox" ng-model="t.disabled" />
    <span ng-hide="t.editing" ng-click="t.editing = true" >{{t.name}}</span>
    <input ng-show="t.editing" ng-model="t.name" size="60" />
  </h3>

  <h4>Assignment</h4>
  <p>Assigned to
    <span ng-show="t.assignee">{{t.assignee}},</span>
    <em ng-hide="t.assignee">anybody,</em>
    repeat type {{t.repeatType}}
  </p>

  <h4>Repeat</h4>
  <p>
    Repeats every
    <span ng-click="t.editing = true" ng-hide="t.editing">{{t.period}}</span>
    <span ng-show="t.editing"><input ng-model="t.period" /></span>
    days.  Next up:  <span title="{{t.next}}">{{t.next | relDate}}</span>
  </p>

  <h4>Value</h4>
  <p>
    <span style="text-align: right" ng-click="t.editing = true" ng-hide="t.editing">{{t.value | money}}</span>
    <span style="text-align: right"
          ng-show="t.editing"><input ng-model="t.value" /></span>
  </p>

  <h4>Description</h4>

  <p ng-hide="t.editing" ng-click="t.editing = true">{{t.description}}</p>
  <textarea ng-show="t.editing" ng-model="t.description"></textarea>

  <button ng-show="t.editing" ng-click="changedTask(t)">Save</button>
  <button ng-show="t.editing" ng-click="t.editing = false">Cancel</button>

  <ul>
    <li><a ng-click="makeAvailable(t)">Make Available</a></li>
  </ul>
  <hr />
</div>

Total value:  {{total | money}}

<hr />

<form method="POST" action="/admin/tasks/new">
  Name: <input type="text" name="name" /><br/>
  Assignee:
  <select name="assignee">
    <option value="">-Anyone-</option>
    <option ng-repeat="u in users" value="{{u.email}}">{{u.name}} &lt;{{u.email}}&gt;</option>
</option>
</select>
<br/>
Repeat: <select name="rtype"><option value="Normal">Normal</option></select>
<input type="text" name="period" /><br/>
Value: <input type="text" name="value" /><br/>
Description:<br/>
<textarea name="description"></textarea>
<input type="submit" />
</form>
